
#wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }
  
  
header {
    border-bottom: solid 0.5px #525050;
}


.btn {
    margin: 10px;
}

footer {
    text-align: center;
    margin-top: auto;
}

.container-fluid{
    padding-top: 10px;
}

.table{
    font-size: 80%;
    font-family: MS Pゴシック;
}

