
#wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }
  

.logo {
    margin-right:30px;
    font-size: 24px
}

.header_height{
    float: left;
    padding:5px 0 5px 0;
}


footer {
    text-align: center;
    margin-top: auto;
}
    
.table{
    font-size: 80%;
    font-family: MS Pゴシック;
}

