
#wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }
  

.logo {
    margin-left:10px; 
    margin-right:30px;
    font-size: 24px
}

.header_height{
    float: left;
    padding:5px 0 5px 0;
}


footer {
    text-align: center;
    margin-top: auto;
}
    
.table{
    width: 100%;
    font-size: 80%;
    font-family: MS Pゴシック;
}

.table{
    height:80%;
}

.table-condensed > thead > tr > th,
.table-condensed > tbody > tr > th,
.table-condensed > tfoot > tr > th,
.table-condensed > thead > tr > td,
.table-condensed > tfoot > tr > td {
  padding: 3px 0 3px 0;  /* 5px の値を変更 */
}


.container-fluid {
    padding-right: 0px;
    padding-left: 0px;
    margin-right: auto;
    margin-left: auto;
}

